.container {
    text-align:center;
}

h1 {
    display: block;
}

label {
    display: block;
    margin: auto auto 1rem;

}

input {
    display: block;
    margin:0 auto;

}

button {
    display: block;
    margin: 1rem auto;

}

.hiddenGif {
    display: block;
    width: 50%;
    margin: 2rem auto;
}

img {
    display: block;
    width: 75%;
    margin: 2rem auto;
    border-radius: 1rem;
}